FIREBASE_API_KEY=your_web_api_key_from_firebase_console
FIREBASE_PROJECT_ID=op10game-loadtest
K6_TEST_USER_EMAILS=you+top10-k6-01@gmail.com,you+top10-k6-02@gmail.com,you+top10-k6-03@gmail.com,you+top10-k6-04@gmail.com,you+top10-k6-05@gmail.com,you+top10-k6-06@gmail.com,you+top10-k6-07@gmail.com,you+top10-k6-08@gmail.com,you+top10-k6-09@gmail.com,you+top10-k6-10@gmail.com
K6_TEST_USER_PASSWORD=your_shared_password
