<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807249280703-ahikkv2k0efoi1n2ar14fr04b9pcehgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807249280703-ahikkv2k0efoi1n2ar14fr04b9pcehgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807249280703-59r51ljb6pr3dd9k1mc87tpo0jo0opah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJNFxoqgn_UC5eyKJbe_1ZfwaS683QpyM</string>
	<key>GCM_SENDER_ID</key>
	<string>807249280703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.top10game.app</string>
	<key>PROJECT_ID</key>
	<string>top10-game-f9219</string>
	<key>STORAGE_BUCKET</key>
	<string>top10-game-f9219.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807249280703:ios:f8022bfde80f846b3d500a</string>
</dict>
</plist>
